body{
  background-color:  #1b262c;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #fff;
}

.top-nav .container-fluid {
  padding: 2% 10% 0;
}

.container-fluid{
  padding:7% 15%;
}

#top-title .container-fluid{
  padding: 3% 15% 7%;
}
.row{
  margin:15px;
}
.gallery{
  background-color: #0f4c75;
}
img{
  margin: 10px;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
}

h2{
  font-weight: 700;
  font-size: 2rem;
}
.footer{
  margin-top: 10%;
}
.footer-ico{
  margin: 15px 10px;
  font-size: 2rem;
}


@media (max-width:990px) {

  .top-nav .container-fluid {
    padding: 2% 5% 0;
  }
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
}
}
