body{
  text-align: center;
    background-color: #0f4c75;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
h1{
  font-weight: 900;
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}
#top-title .container-fluid{
  padding: 0 15% 5%;
}
.row{
  margin-top: 15%;
}
.top{
  background-color: #1b262c;
  color: white;
}
.top-col h1 {
  font-size: 1.5rem;
}
.top-img{
  width: 60%;
  border-radius: 50%;
}
.politics-img{
  width: 35%;
  border-radius: 50%;
  margin-top: 40px;
}
.title-text{
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.top-col{
  padding-bottom: 5%;
}
.title-h{
  font-size: 3rem;
}

.card-col{
  padding: 4% 4%;
}
.container-fluid{
  padding: 7% 15%;
}

.black-section{
  background-color: #1b262c;
  color: #fff;

}

.card{
  background-color: #1b262c;
}



#footer .container-fluid{
  padding: 0 15% 7%;
}

.footer-ico{
  margin: 15px 10px;
  font-size: 2rem;
}

@media (max-width:990px) {

h1{
  font-size: 1.7rem;
}
.top-col h1{
font-size:  1.2rem;
}

#top-title .container-fluid{
  padding: 0 10% 5%;
}
.container-fluid{
  padding: 5% 10%;
}
h3{
  font-size: 1rem;
}
.top-col .btn {
  padding: 5%;
  font-size: 1rem;
}
.card-body .btn {
  padding: 1%;
  font-size: 0.8rem;
}
.top-img{
  width: 100%;
}

.cta .container-fluid {
  padding:7% 10% 5%;
}
  .cta-heading{
    font-size: 1rem;
  }

  .cta .btn {
    padding: 2% 4%;
    font-size: 1rem;
  }
  }
  .top-btn{
    margin: 5% 0 15%;
  }
  .form-heading{
    font-size: 1.5rem;
  }

}
