body{
  text-align: center;
    background-color: #0f4c75;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
h1{
  font-weight: 900;
  font-size: 3rem;
}
#top-title .container-fluid{
  padding: 3% 15% 7%;
}
.row{
  margin-top: 15%;
}
.top{
  background-color: #1b262c;
  color: white;
}
.top-img{
  width: 70%;
  border-radius: 50%;
}
.politics-img{
  width: 35%;
  border-radius: 50%;
  margin-top: 40px;
}
.title-text{
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.title-h{
  font-size: 3rem;
}

.card-col{
  padding: 5% 2%;
}
.container-fluid{
  padding: 7% 15%;
}

.black-section{
  background-color: #1b262c;
  color: #fff;

}

.card{
  background-color: #1b262c;
}



#footer .container-fluid{
  padding: 0 15% 7%;
}

.footer-ico{
  margin: 15px 10px;
  font-size: 2rem;
}

@media (max-width:990px) {
h1{
font-size:  2rem;
}
  .cta-heading{
    font-size: 1rem;
  }
  .top-btn{
    margin: 5% 0 15%;
  }
  .form-heading{
    font-size: 1.5rem;
  }
.politics-img{
  width: 70%;
  margin: 0;
}
}
